python-backend-development/.env
python-backend-development/outputs
python-backend-development/__pycache__

python-backend-deployment/__pycache__

extraction-output
sample-documents
sample-documents-output
sample-images

slides-to-doc-fastapi.txt


