python-backend-dev/.env

python-backend-dev/outputs
python-backend-prod/outputs
python-backend-test/outputs

python-backend-dev/__pycache__
python-backend-prod/__pycache__

extraction-output
sample-documents
sample-documents-output
sample-images
sample-testing-document

slides-to-doc-fastapi.txt

deployment-command.txt
lovable-ui-prompt.txt

.venv

code.txt

